.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  width: 300px;
  height: 150px;
  margin: 10px;
  transition: transform 0.8s ease;
}

.box:hover {
  transform: scale(1.1);
  font-size: 60px;
}

.wrapper {
  width: 100%;
}

.two-blox {
  display: flex;
  justify-content: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  justify-content: left !important;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbarprofile {
  overflow: hidden;
  background-color: gray;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbarprofile a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.navbarprofile a:hover {
  background: #ddd;
  color: black;
}

.data-Time-Picker {
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.data-Time-Picker label {
  margin-right: 10px;
}

.bg-image-transport-table {
  position: fixed;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background: url("/src/resource/transport-table.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}

.table-Transport {
  margin: 0 100px 0 100px;
  padding: 30px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  backdrop-filter: blur(10px);
  color: white !important;
}

.table-Transport button {
  color: black;
}

.table-cell-state-creating {
  background-color: rgb(71, 128, 71);
  text-align: center;
}

.table-cell-state-canceled {
  background-color: rgb(128, 93, 71);
  text-align: center;
}

.table-cell-state-finished {
  background-color: rgb(146, 137, 7);
  text-align: center;
}

.table-cell-state-transporting {
  background-color: rgb(128, 87, 224);
  text-align: center;
}

.standard-cell {
  background-color: #096aae;
  /* #3385c0; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-container-backgruond{
  background-color: #87c6f9;
  min-width: 920px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.cargo-card.card{
  transition: border 200ms ease;
}